@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100&display=swap');
body{
  margin: 0;
  font-family: Roboto;
  height: 3000px;
}
.header, .second-row{
  background-color: #1F2937;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
  align-items: center;
}
.logo{
  font-weight: bold;
  font-size: 24px;
}
ul{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  gap: 25px;
}
a{
  color: white;
  text-decoration: none;
}
.second-row{
  height: 480px;
}
.second-left{
  margin-right: 50px;
}
.image{
  height: 240px;
}
.photo{
  height: 100%;
}
.awesome{
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 5px;
  color: #F9FAF8;
}
.subtext{
  font-size: 16px;
  margin-bottom: 10px;
}
.second-left button{
  background-color: #3882F6;
  color: white;
  font-weight: bold;
  padding: 8px 35px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: Roboto;
}
.information{
  padding: 70px 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  height: 350px;
}
.information-container{
  display: flex;
  margin-top: 40px;
}
.information-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  color: gray;
}
.illustration{
  height: 150px;
  width: 150px;
  border-radius: 8px;
  margin-bottom: 8px;
}
.quote{
  background-color:#E5E7EB;
  height: 200px;
  padding: 100px 250px;
  display: flex;
  flex-direction: column;
  font-size: 34px;
  font-style: italic;
  color: #1F2937;
  font-weight: ;
}
.author{
  text-align: right;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
}
.sign-up-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  border: solid;
  height: 200px;
}
.action{
  background-color: #3882F6;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
  border-radius: 8px;
  color: white;
}
.first-line{
  font-weight: bold;
}